body > #root > div {
  height: 100%;
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  font-family: sans-serif;
  margin: 0;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

/* The Modal */
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
}

.modal h1 {
  color: #263E7A;
}

p,
ul,
li {
  color: #414141;
}

.modal {
  position: fixed;
  z-index: 200;
  width: 50%;
  max-width: 780px;
  min-width: 400px;
  background: white;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  padding: 3rem;
  padding-bottom: 0.5rem;
  border-radius: 2px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 20px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  overflow: auto;
  margin-bottom: 40px;
}

.modal-footer {
  border-top: #263E7A 1px solid;
  display: flex;
  justify-content: center;
}

.modal-footer p {
  color: #969696;
  font-size: 0.9rem;
}

.open {
  display: block;
}

@media (max-width: 400px) {
  p,
  ul,
  li {
    font-size: 0.7rem;
  }
}

button {
  font: inherit;
  background: transparent;
  border: 2px solid #263E7A;
  padding: 0.5rem 1rem;
  color: #263E7A;
  cursor: pointer;
  font-weight: bold;
  border-radius: 2px;
}

button:hover,
button:active {
  border-color: #fff;
  background: #263E7A;
  color: #fff;
}
