/* General Styles */
* {
    box-sizing: border-box;
  }
  
  body,
  html {
    height: 105%;
  }
  
  body {
    font-family: sans-serif;
    margin: 0;
  }

  .demo-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    font: inherit;
    background: transparent;
    border: 2px solid #263E7A;
    padding: 0.5rem 1rem;
    color: #263E7A;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover,
  button:active {
    border-color: #fff;
    background: #263E7A;
    color: #fff;
  }
  
  /* The Modal */
  .modal-container {
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
   }
  .modal {
    display: none;
    position: fixed;
    z-index: 200;
    width: 50%;
    background: white;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    padding: 1rem;
  }
  
  .modal h1 {
    color: #521751;
    margin: 0.5rem 0;
    font-size: 1.2rem;
  }
  
  button.btn-modal-close {
    border-color: red;
    color: red;
  }
  
  button.btn-modal-close:hover,
  button.btn-modal-close:active {
    color: white;
    background: red;
  }
  

  .backdrop {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
  
  .open {
    display: block;
  }